/*All pages*/
body {
  background-color: #75563e;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* Header*/
.logo{
  height: 130px;
  border-radius: 50%;
}
nav {
  background-color:#e6b986;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: grid;
  grid-template-rows: 2em 1em 1em 1em 1em;
}
nav a {
  float: left;
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: #1c110f;
}
nav a:hover {
  color:#e6b986;
  background-color: #75563e;
}
ul {
  list-style-type: none;
  align-items: center;
}
li {
  float: left;
}
#intro {
  text-align: center;
}
/*footer*/
footer{
  background-color: cadetblue;
  padding: 25px 50px;
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p{
  font-size: 1.2em;
  color: #1c110f;
}
footer p a:hover{
  text-decoration: underline;
}
footer a{
  color: #1c110f;
}
footer a:hover{
  color:#e6b986;
}
/*home*/
video{
  height: fit-content;
  width: 100%;
}
/*about me*/
.filler{
  border: 15px solid #75563e;
  padding: 50px;
  margin: 20px;
}
#me{
  border: 10px solid #75563e;
  padding: 20px;
  margin: 10px;
}
/*Testimonials page*/
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 50% 50% ;
  gap: 10px;
  border: 5px;
  padding: 10px;
  margin: 15px;
}
.person img{
  height: 400px;
  width: 55%;
  height: auto;
  display:block;
  margin: 0 auto;
}
#name{
  text-decoration: underline;
  text-align: center;
}
#review{
  width: 80%;
  border: 5px;
  padding: 10px;
  margin: 15px;
}
.txt{
  width: 75px;
}
#person1{
margin: 10px;
grid-row: 1/2;
grid-column: 1/2;
}
#person2{
margin: 10px;
grid-row:1/2;
grid-column:2/3;
}
#person3{
  margin: 10px;
  grid-row: 1/2;
  grid-column:3/4 ;
}
#person4{
  margin: 10px;
  grid-row:1/2 ;
  grid-column:4/5 ;
}
#comment1{
  grid-row:2/3;
  grid-column:1/2 ;
}
#comment2{
  grid-row:2/3;
  grid-column:2/3 ;
}
#comment3{
  margin: 15px;
  grid-row:2/3;
  grid-column:3/4 ;
}
#comment4{
  margin: 15px;
  grid-row:2/3;
  grid-column:4/5 ;
}
.row {
  margin: 8px 16px;
}
footer a{
  text-decoration: none;
}
/* Add padding BETWEEN each column */
.row,
.row>.column {
  padding: 8px;
}
.social img{
  height: 75px;
}
.column {
  float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*pricing*/
#price{
justify-items: right 10px;
}
#aboutMe{
  border: 10px solid #75563e;
  padding: 20px;
  margin: 10px;
}
#service{
  border: 10px solid #75563e;
  padding: 20px;
  margin: 10px;
}
@media screen and (max-width: 900px){
  .grid-container{
    display:block;
  }
}
@media (max-width: 500px) {

}