.img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right:auto ;
}
nav{
  display: flex;
  display: flex;
  justify-content: space-around;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(162, 162, 161,.7);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    color: steelblue;
  }

body{
    background-color: #195190ff;
}

p{
border-style: solid;
}

/* steel blue */