body{
  background-color: #195190ff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  padding: 0;
  margin: 0;

}
h1, h2, h4, ol, li, p{
  font-family: 'times new roman', 'sans-serif';
  font-size: 2em;
}
h2{
  margin:0;
}
nav a #hero-msg, #hero-msg, h4 .button-box main section{
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2a2a1ff;
  }

li {
    float: left;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
  background-color: #111;
 }

#background{
  height: 725px;
  background-color: tan;
}

header{
background-color: #fcfbfb
}

.logo{
  display: block;
  margin-right: auto;
  width: 10%;
}

footer{
  background-color: cadetblue;
  padding: 25px 50px;
  margin-top: 200px;
}

footer p{
  font-size: 1.2em;
}

footer p a:hover{
  text-decoration: underline;
}

h2{
  text-align: center;
}

img{
  align-items: center;
}

#hero-box{
  width: auto;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  }

.social{
  text-align: center;
}
 .social a {
  text-decoration: none;
  }

.msg{
  background-color: cadetblue
}

.home-grid{
  text-align: center;
}

.card-img{
  width: 250px;
}

.home-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  margin-top: 10px;
}

.msg{
  background-color: #6f7364;
  line-height: 1.5em;
}

#logo_link{
  padding-top:5px;
}
nav a{
  padding: 35px;
}
.book .join{
  padding: 15px 30px;
  margin-top: 50px;
}
.icon{
padding-top: 10px;
}
.msg{
padding: 35px;
}
.msg p{
padding-bottom: 15px;
}
footer .social img{
  padding-top: 15px;
}