nav a #hero-msg, #hero-msg, h4 .button-box main section{
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2a2a1ff;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
/* Change the link color to #111 (black) on hover */
  li a:hover {
  background-color: #111;
 }

#background{
  height: 725px;
  background-color: tan;
}

header{
background-color: #fcfbfb
}


body{
  background-color: #195190ff;
}


.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

footer{
  background-color: cadetblue;
}
footer p{
  font-size: 1.2em;
}

footer p a:hover{
  text-decoration: underline;
}
h2{
  text-align: center;
}

img{
  align-items: center;
}
#hero-box{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  }